@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Corinthia:wght@400;700&family=Lato&family=Oswald:wght@200;300;600;700&family=Readex+Pro:wght@300;700&family=Roboto+Slab&family=Roboto:wght@500&display=swap');
* {
    font-family: "Roboto";
    color: rgb(0, 40, 40);
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.main-container {
    position: relative;
}

.item {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: top 0.5s ease-out, opacity 0.5s;
    opacity: 0;
}

.item {
    padding: 10px 0;
}

.table {
    margin: 5px auto;
    padding: 8px;
    display: grid;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    width: 400px;
    border-radius: 10px;
    background-color: rgb(30, 150, 150);
}

.goal {
    border: none;
    outline: none;
    width: 100%;
    height: 50px;
    font-size: 24px;
    margin: 12px 5px 12px 12px;
}

input {
    font-size: 16px;
    background-color: rgb(187, 227, 227);
    margin-right: 12px;
    border: none;
}

.payment {
    width: 202px;
    height: 24px;
    margin: 0 0 10px 10px;
}

label {
    display: flex;
    justify-content: space-between;
    margin: 12px 5px 0px 12px;
}

p {
    margin: 10px;
}

.delete {
    display: flex;
    justify-content: space-between;
}

.btn-delete {
    margin: -4px -4px 1px 1px;
}

.svg-style {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.svg-transform {
    font-size: (13/10)*1rem;
    width: (15/13)*1em;
}

.svg-transform svg:hover {
    color: red;
    fill: red;
}

.svg-transform:hover {
    color: red;
    fill: red;
}

svg {
    width: 15px;
    height: 15px;
}

body {
    background-color: rgb(187, 227, 227);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.parBtn {
    position: absolute;
}

.main-container {
    display: flex;
    padding: 20px 0;
}

.add {
    position: fixed;
    top: 20px;
    left: 25px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid rgb(0, 40, 40);
    border-radius: 0.6em;
    color: rgb(0, 40, 40);
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 0 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}

.add:hover,
.add:focus {
    color: #fff;
    outline: 0;
}

.btn-style {
    border-radius: 3em;
    border: none;
    color: #FFF;
    background-image: -webkit-linear-gradient(left, rgba(0, 40, 40, 0.6), rgba(0, 40, 40, 0.6) 5%, #1abc9c 5%, #1abc9c 10%, rgba(0, 40, 40, 0.6) 10%, rgba(0, 40, 40, 0.6) 15%, #1abc9c 15%, #1abc9c 20%, rgba(0, 40, 40, 0.6) 20%, rgba(0, 40, 40, 0.6) 25%, #1abc9c 25%, #1abc9c 30%, rgba(0, 40, 40, 0.6) 30%, rgba(0, 40, 40, 0.6) 35%, #1abc9c 35%, #1abc9c 40%, rgba(0, 40, 40, 0.6) 40%, rgba(0, 40, 40, 0.6) 45%, #1abc9c 45%, #1abc9c 50%, rgba(0, 40, 40, 0.6) 50%, rgba(0, 40, 40, 0.6) 55%, #1abc9c 55%, #1abc9c 60%, rgba(0, 40, 40, 0.6) 60%, rgba(0, 40, 40, 0.6) 65%, #1abc9c 65%, #1abc9c 70%, rgba(0, 40, 40, 0.6) 70%, rgba(0, 40, 40, 0.6) 75%, #1abc9c 75%, #1abc9c 80%, rgba(0, 40, 40, 0.6) 80%, rgba(0, 40, 40, 0.6) 85%, #1abc9c 85%, #1abc9c 90%, rgba(0, 40, 40, 0.6) 90%, rgba(0, 40, 40, 0.6) 95%, #1abc9c 95%, #1abc9c 100%);
    background-image: linear-gradient(to right, rgba(0, 40, 40, 0.6), rgba(0, 40, 40, 0.6) 5%, #1abc9c 5%, #1abc9c 10%, rgba(0, 40, 40, 0.6) 10%, rgba(0, 40, 40, 0.6) 15%, #1abc9c 15%, #1abc9c 20%, rgba(0, 40, 40, 0.6) 20%, rgba(0, 40, 40, 0.6) 25%, #1abc9c 25%, #1abc9c 30%, rgba(0, 40, 40, 0.6) 30%, rgba(0, 40, 40, 0.6) 35%, #1abc9c 35%, #1abc9c 40%, rgba(0, 40, 40, 0.6) 40%, rgba(0, 40, 40, 0.6) 45%, #1abc9c 45%, #1abc9c 50%, rgba(0, 40, 40, 0.6) 50%, rgba(0, 40, 40, 0.6) 55%, #1abc9c 55%, #1abc9c 60%, rgba(0, 40, 40, 0.6) 60%, rgba(0, 40, 40, 0.6) 65%, #1abc9c 65%, #1abc9c 70%, rgba(0, 40, 40, 0.6) 70%, rgba(0, 40, 40, 0.6) 75%, #1abc9c 75%, #1abc9c 80%, rgba(0, 40, 40, 0.6) 80%, rgba(0, 40, 40, 0.6) 85%, #1abc9c 85%, #1abc9c 90%, rgba(0, 40, 40, 0.6) 90%, rgba(0, 40, 40, 0.6) 95%, #1abc9c 95%, #1abc9c 100%);
    background-position: 0 0;
    background-size: 100%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}

.btn-style:hover {
    background-position: 100px;
}

@media screen and (max-width: 900px) {
    .main-container {
        flex-direction: column;
    }
    .parBtn {
        position: static;
    }
    .add {
        position: static;
        margin: 10px auto;
    }
}